body {
    background-image: url("imagens/imagetwo.jpg");
    margin: 0%;
    padding: 0%;
}

.main {
    display: flex;
    margin-top: 5%;
}

.flex-main {
    display: flex;
    justify-content: space-around;
}

div {
    margin: auto;
}

.title-twitter {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #1c94e0;
    text-align: center;
    margin: auto;
    padding: 1%;
    color: white;
    font-size: 40px;
    font-family: 'Special Elite', cursive;
}

.user-title {
    font-size: 28px;
}

.user-info {
    font-size: 20px;
}

.social,
.text-area {
    padding: 2% 1% 1% 2%;
    box-shadow: 0px 0px 3px #1da1f2;
    border-radius: 5px;
    font-family: 'Inconsolata', monospace;
    background: #FFFFFF;
    width: 35%;
    margin: 0 auto 100px;
    padding: 3%;
    text-align: center;
}

.text-area-total {
    overflow: hidden;
    font-family: 'Inconsolata', monospace; 
    outline: 0;
    background: rgb(232, 240, 254);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px 7.5px 15px 7.5px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
    word-wrap:break-word;
    background-size: cover;
}

li {
    background-color: white;
    background-size: cover;
    word-wrap: break-word;
    font-family: 'Inconsolata', monospace;
    justify-content: center;
    position: relative;
    margin: auto;
    border: none;
    width: 50%;
    height: 80%;
    box-shadow: 0px 0px 3px #a3b0bd;
    border-radius: 5px;
    text-align: justify;
    list-style-type: none;
    padding: 1%;
    margin-top: 1%;
}

.btnrest {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.btntwittar {
    display: flex;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    border-radius: 50px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    text-align: center;
    margin-left: 8%;
    margin-top: 1%;
}

.rest {
    margin: 1.5% 0% 1.5% 8%;
    display:flex;
    align-items: center;
}